@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
/*home page*/
.homepage{
    background-size:cover;
    background-image: url(999background.png);
	background-repeat: no-repeat; 
}

/*navigation bar*/
.logo{
    transition: 0.5s;
}

.logo:hover{
   transform: scale(1.07);
}
    
.navbar {
  overflow: auto;
  width: 60vw;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  float: right; 
}

.navbar a {
  float: right;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: inherit;
  font-family: 'Rajdhani', sans-serif;
  cursor: pointer;
  transition: all 0.5s ease;
  margin:3px;
}

.dropdown {
  float: right;
  overflow: hidden;
  transition: all 0.5s ease;
  margin-top: 1px;
}

.dropdown .dropbtn {
  font-size: 24px;  
  border: 0;
  outline: 0;
  color: white;
  padding: 20px 25px;
  background-color: inherit;
  font-family: monospace;
  margin: 3px;
  transition: all 0.5s ease;
  top:0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 181, 204, 1);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(190,190,190,0.8);
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  transition: all 0.3s ease;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16px;
  transition: all 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.metroplitan{
    position:absolute;
    margin-top: 72px;
    margin-left: 107px;
    transition: 0.5s;
	background-attachment: fixed;
        
}

.metroplitan:hover{
  transform: translateY(-4px);
}

.british{
    position:absolute;
    margin-top: 65px;
    margin-left: 410px;
    transition:0.5s;        
}

.british:hover{
    transform: translateY(-5px);
}

.louvre{
    position:absolute;
    margin-top: 54px;
    margin-left: 359px;
    transition:0.5s;
}

.louvre:hover{
    transform: translateY(-3px);
}

.palace{
    position:absolute;
    margin-top: 55px;
    margin-left: 520px;
    transition:0.5s;
}

.palace:hover{
    transform: translateY(-3px);
}

.locations{
	background-image: url(location-background.png);
	background-size:cover;	
}

/*The Palace Museum*/
.riverofwisdom{
	margin:0;
	padding:0;
    top:0;
}

.palacepage{
	background: url(My Movie 1.mp4);
}

.palacepage{
	background:black;
}

.part1{
	background-image: url("palace-background.png");
	background-size: cover;
    background-attachment: fixed;
	height: 100vh;
    overflow: hidden;
	margin-top:0;
	margin-left:0;
}

.part2{
	background: black;
    background-size: cover;
    background-attachment: fixed;
    height:120vh;
    overflow:none;
}
	
.riverofwisdom{
	height:%;
	width:100%
}

.palacetitle{
	position:absolute;
	font-family:'IM Fell Great Primer', serif;
	color:rgba(245, 229, 27, 1);
    width:100%;
	font-weight: bold;
	text-align: center;
	font-size: 80px;
	margin-top:6px;	
}

/*The British Museum*/
.britishpage{
	background:black;
}
.section1{
	background-image: url(british-background.png);
	background-size:cover;
	background-attachment: fixed;
}

.britishtitle{
	position:absolute;
	font-family:'Courgette', cursive;
	color:hsl(190, 76%, 87%);
    width:100%;
	font-weight: bold;
	text-align: center;
	font-size: 80px;
	margin-top:6px;	
}
.britishtitle p{
	font-size:20px;
	width:70%;
	text-align: center;
	float:inherit;
}

.rosetta{
    display:block;
	margin-left: auto;
    margin-right:auto;
    align-items: center;
	margin-top: 200px;
	padding:px;
	max-height:350px;
	object-fit: cover;
	transition: transform 400ms ease-out;
	overflow: hidden;
}

.rosetta:hover{
	transform: scale(1.08);
}

.rosetta-stone{
	text-align: center;
	
}
.name-rosetta{
	font-size:40px;
	text-align: center;
	color:brown;
}

.p-rosetta{
	font-size:25px;
	width:850px;
    margin: 0 5px;
    text-align:center;
	padding-left: 300px;
	padding-bottom: 20px;
	color:brown;
}

.section2{
	background-image:url(British-Museum.jpeg);
	background-size:cover;
	overflow: none;
	background-attachment: fixed;
}

.suttonhoo{
	display:block;
	margin-left: auto;
    margin-right:auto;
    align-items: center;
	padding-top:60px;
	transition: transform 400ms ease-out;
	overflow: hidden;
}

.suttonhoo:hover{
	transform: scale(1.08);
}

.name-suttonhoo{
	font-size:40px;
	text-align: center;
	color:azure;
}

.p-suttonhoo{
	font-size:25px;
	width:850px;
    margin: 0 5px;
    text-align:center;
	padding-left: 300px;
	padding-bottom: 20px;
	color:azure;
}

.section3{
	background-image: url(British-background3.jpeg);
	background-size:cover;
	overflow: none;
	background-attachment: fixed;
}

.mummies{
	display:block;
	margin-left: auto;
    margin-right:auto;
    align-items: center;
	padding-top:60px;
	transition:transform 400ms ease-out;
	overflow: hidden;
	
}

.mummies:hover{
	transform: scale(1.08);
}

.name-mummies{
	font-size:40px;
	text-align: center;
	color: darkblue;
}

.p-mummies{
	font-size:25px;
	width:850px;
    margin: 0 5px;
    text-align:center;
	padding-left: 300px;
	padding-bottom: 20px;
	color:azure;
}
.section4{
	background-image: url(B-museum-bg.jpg);
	background-size:cover;
	overflow: none;
	background-attachment: fixed;
}

.gallery{
	display:block;
	margin-left: auto;
    margin-right:auto;
    align-items: center;
	padding-top:60px;
	transition:transform 400ms ease-out;
	overflow: hidden;
}

.gallery:hover{
	transform: scale(1.08);
}

.name-gallery{
	font-size:40px;
	text-align: center;
	color: aliceblue;
}

.p-gallery{
	font-size:25px;
	width:850px;
    margin: 0 5px;
    text-align:center;
	padding-left: 300px;
	padding-bottom: 20px;
	color:azure;
}

/*Metropolitan Museum*/
.metropolitanpage{
	background-image: url(Met-Museum.png);
	background-size:cover;
	overflow: none;
}
.metrotitle{
	position:absolute;
	font-family:'Courgette', cursive;
	color:rgba(255, 255, 204, 1);
    width:100%;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	margin-top:6px;	
}
.intro1{
	justify-content: center;
	align-items: center;
	min-height:100vh;
	display:flex;
}
.container1{
	display:flex;
	position:relative;
}

container1,.box{
	position:relative;
	width:275px;
	height:275px;
	overflow:hidden;
	transition:0.5s;
}
	
.container1,.box:hover{
	transform: scale(1.17);
	box-shadow: 0 25px 40px rgba(0,0,0,0.5);
	z-index:1;
	color:rgba(0,0,0,0.5);
}

	
.container1,.box,.content {
	color:#fff;
	transition:0.5s;
	text-transform:uppercase;
	transform: transformY(100px);
}

.container,.box,.imgBx,img{
	object-fit:cover;
}
	
.container,.box:hover.content h2{
	transform:translateY(0);
	transition-delay: 0.3s;
}

.content{
	position:absolute;
	padding:20px;
	display:flex;
	margin-top: -290px;
	align-items:flex-end;
}

.content p{
	font-size:12px;
	padding:14px;
}

.content h2{
	text-align: center;
	font-size: 20px;
}

/*Louvre Museum*/
.louvrepage{
	background-image: url(louvre-background.png);
	background-size:cover;
	background-attachment: fixed;
	overflow: none;
}

.louvreimg{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left:-10px

}

.img-responsive{
	display: flex;
	padding: 5px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
}

.louvrehover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.louvrehover .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.louvrehover:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.louvrehover img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.louvrehover:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.louvrehover h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.louvrehover a, .louvrehover p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.louvrehover:hover a, .louvrehover:hover p, .louvrehover:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.louvretitle{
	text-align:center;
	font-family: 'Courgette', cursive;
	font-size:30px;
	color:floralwhite;
}